.products {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  position: relative;
  z-index: 1;
}

.products__item {
  width: 50%;
  margin-bottom: 18px;
  padding: 10px;
  background-color: $white;
  position: relative;

  &:nth-of-type(2n) {
    margin-right: 0;
  }
}

.products__item-wrapper {
  width: 100%;
  border: 2px solid transparent;
}

.products__picture {
  width: 135px;
  height: 135px;
  margin-bottom: 5px;
}

.products__description {
  font-size: 13px;
  line-height: 16px;
  height: 45px;
  margin: 0;
  margin-bottom: 12px;
  text-align: left;
}

.products__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.products__price {
  font-size: 0;
}

.products__price-dollar {
  font-size: 13px;
  line-height: 16px;
}

.products__price-number {
  font-size: 18px;
  line-height: 16px;
  font-weight: 700;
}

.products__price-decimal {
  font-size: 12px;
  line-height: 16px;
}

.products__button {
  background-color: $dark-grey;
  color: $white;
  border: none;
  padding: 8px 5px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
}

.products__rating {
  display: flex;
  align-items: center;

  &::before {
    content: "";
    flex-grow: 1;
    height: 1px;
    background-color: $light-grey;
    margin-right: 8px;
  }

  &::after {
    content: "";
    flex-grow: 1;
    height: 1px;
    background-color: $light-grey;
    margin-left: 8px;
  }
}

.products__star {
  color: $dark-grey;
}

.products__full-description {
  display: none;
  color: $medium-grey;
  font-size: 11px;
  line-height: 14px;
  text-align: left;
}

.products__item:hover .products__full-description {
  display: block;
  margin: 0;
  padding: 15px 0;
}

.products__item:hover .products__item-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  border: 2px solid $orange;
  background-color: $white;
  z-index: 10;
  box-shadow: 0px 0px 15px 0px rgba($black, 0.3);
}

.products__item:hover .products__star {
  color: $orange;
}

.products__item:hover .products__button {
  background-color: $orange;
}

@media (min-width: $tablet) {
  .products {
    margin: 0 auto;
  }
  .products__item {
    width: 33.3333%;
  }
}

@media (min-width: $desktop) {
  .products {
    width: 100%;
  }
}
