.slider {
  width: 483px;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.slider__wrapper {
  width: 483px;
  max-width: 100%;
  position: relative;
}

.slider__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  transition: transform 250ms ease-in-out;
}

.slider__item {
  flex-shrink: 0;
}

.slider__image {
  width: 483px;
}

.slider__controls {
  width: 455px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.slider__button {
  @include reset-button;
  width: 38px;
  height: 38px;
  background-image: url("../img/button.png");
  z-index: 10;

  &--next {
    transform: rotate(-180deg);
  }
}
