.slider {
  width: 483px;
  max-width: 100%;
  margin: 0 auto;
}

.slider__wrapper {
  width: 483px;
  max-width: 100%;
}

.slider__list {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  transition: margin-left 250ms;
}

.slider__item {
  height: 0;
  opacity: 0;

  &--active {
    height: auto;
    opacity: 1;
  }
}

.slider__controls {
  width: 455px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: -58px;
}

.slider__button {
  @include reset-button;
  width: 38px;
  height: 38px;
  background-image: url("../img/button.png");

  &--next {
    transform: rotate(-180deg);
  }
}
