/* Width */
$tablet: 768px;
$desktop: 1300px;

/* Colors */
$white: #ffffff;
$black: #000000;
$dark-grey: #3a3a3a;
$light-grey: #efefef;
$medium-grey: #636363;
$orange: #eb5c3e;

/* Resolution */
$retina: 1.5dppx;
